<html>
    <head>
        <style type="text/css">
            form {
                min-width: 320px;
                max-width: 520px;
                margin: 0 auto;
            }
            input, button {
                display: inline-block;
                width: 100%;
                margin: 5px 0;
                height: 32px;
            }
			.copyright {
				margin-top: 32px;
				font-size: 12px;
			}
        </style>
    </head>
    <body>
        <form method="POST" action="/">
            <h2>rdrr</h2>
            <p>A less convenient URL shortener.</p>
            <input
                name="dest"
                type="text"
                placeholder="URL"
            />
            <br />
            <input
                name="words"
                type="text"
                placeholder="A few words"
            />
            <br />
            <button type="submit">Submit</button>
            
            <h2>How?</h2>
            <p>
                Enter a URL in the first input and a few words or a short sentence in the
                second input, then hit submit. You will be given a link that will 
                eventually redirect someone to the given URL, after being bounced around a
                few times on pages displaying the text you entered.
            </p>

            <h2>Why?</h2>
            <p>
                Because its just the right balance of silly, annoying, and ueslessness.
            </p>

            <h2>Who?</h2>
            <p>
                Me!<br />
                <a href="https://github.com/mattlgy">github.com/mattlgy</a><br />
                <a href="https://twitter.com/mattlgy">@mattlgy</a><br />
            </p>

            <h2>Where?</h2>
            <p>
                I dunno, the cloud? You can find the code at <a href="https://github.com/mattlgy/rdrr">github.com/mattlgy/rdrr</a>.
            </p>

			<h2>What?</h2>
			<p>
            	A less convenient URL shortener.
			</p>

			<h2>When?</h2>
			<p>
				Now and every 12 seconds here after.
			</p>

            <div class="copyright">
                Copyright © 2016 Matt Liegey &lt;mtliegey@gmail.com&gt;<br />
                This work is free. You can redistribute it and/or modify it under the
                terms of the WTFPL, Version 2.<br />
                See <a href="http://www.wtfpl.net/">http://www.wtfpl.net/</a> for more details.
            </div>
        </form>
    </body>
</html>
